extends layout

block content

  .container
    .jumbotron(style="background:#fef")
      h2 Welcome to Express
      h1.text-uppercase(style="font-size:5em;color:green") Service1
      
      .alert.alert-info Worked! 

      pre.maxHeightLimit 


block scripts
  script.
    $(document).ready(()=>{
      var json = !{data}
      $('pre').html(syntaxHighlight(json))
    })
