extends layout

block content

  .container
    .jumbotron(style="background:#cef")
      h2 Welcome to Express
      h1.text-uppercase(style="font-size:5em;color:green") Service2
      
      .card
        .card-body.p-1
          b isConnectedToRabbit = 
            span(style="color:"+(isConnectedToRabbit?"green":"red") ) #{isConnectedToRabbit}

          button#btn_restart1.btn.btn-primary.float-right
            i.fa.fa-restart
            | Restart

      p
      p

      pre.maxHeightLimit 


block scripts
  script.
    $(document).ready(()=>{
      var json = !{data};
      $('pre').html(syntaxHighlight(json))

      $('#btn_restart1').click(()=>{
          $('.container').first().html('Restarting...')
          $.post('/restart')
          setTimeout(()=>location.reload(), 500)
      })
    })
